.col1 {
  width: 33%;
  height: 1px;
  float: left;
}

.survey {
  background-color: pink;
  width: 33%;
  float: left;
  text-align: center;
}

p {
  font-size: 1.5em;
}

.small {
  font-size: .3em;
}
